<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huiwings.blog.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.huiwings.blog.entity.CommentEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="aid" property="aid" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.huiwings.blog.entity.CommentEntity" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, username, create_time, aid
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <select id="selectByAid" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_comment
        where aid = #{aid,jdbcType=INTEGER}
        AND dr = 1
    </select>
    <select id="selectById" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_comment
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
    update t_comment SET dr = 0
    where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByAid" parameterType="java.lang.Integer">
        update t_comment SET dr = 0
        where aid = #{aid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.huiwings.blog.entity.CommentEntity">
    insert into t_comment (id, username, create_time, 
      aid, dr, content
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{aid,jdbcType=INTEGER}, #{dr,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.huiwings.blog.entity.CommentEntity">
        insert into t_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="aid != null">
                aid,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="aid != null">
                #{aid,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
</mapper>